body{
    min-height: 100vh;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.ulClass{
    display: flex;
}

.ulClass li{
   list-style: none;
}

.ulClass li a{
    text-decoration: none;
    color: black;
}

.liMedio{
    margin-left: 10px;
    margin-right: 10px;
}

.classFooter{
    margin: auto;
    padding: 20px;
    background-color: grey;
}